body{
    background-color: rgb(61, 139, 212);
}
	
	h1{
        font-size: 40px;
        text-align: center;	
    }

	.contact span{
		color: rgb(255, 255, 255);
	}
	
	.contact-form form {
		display: inline-block;
		grid-template-columns: 1fr 3fr;
	}
	
	.contact-form form label {
        display: flex;
        margin-left: 5px;
        font-size: 20px;

    
	}
	
	.contact-form form p {
		margin: 0;
		padding: 1em;
	}
	
	.contact-form form .block {
		grid-column: 1/ 3;
	}
	
	.contact-form form button,
	.contact-form form input {
		width: 35vw;
        padding: 1em;
		border: none;
		background: none;
		outline: 0;
		color: #000;
		border-bottom: 1px solid rgb(33, 128, 218);
	}

	
	
	.contact-form form button {
		background: rgb(33, 128, 218);
		color: white;
        border: 0;
		text-transform: uppercase;
		padding: 1em;
		margin-left: 160px;
		width: 250px;
		border-radius: 8px;
		transition-duration: 800ms;
	}
	
	.contact-form button:hover{
		transition-duration: 800ms;
		transform: scale(1.1);
	}


    .social{
        display: flex;
        margin-left: 0px;
       
    }

    img{
        margin-left: 50px;
        transition-duration: 800ms;
    }

    .contact-form{
        background-color: white;
        box-shadow: 5px 3px 2px 2px black;
        border-radius: 8px;
        color: black;
        margin-left: 400px;
        width: 600px;
        height: 590px;

    }

    img:hover{
        transition-duration: 800ms;
        transform:scale(1.1)
    }